<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Your code was submitted!</h5>
        </div>
        <div class="modal-body">
          Your code {{ compile }} and your score is: {{ score }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="close_editor();">Return to Home</button>
        </div>
      </div>
    </div>
</div>

<div class="card" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="card-body">
        <h5 class="card-title">{{ challenge['title'] }}</h5>
        <p class="card-text">{{ challenge['description'] }}</p>
    </div>
</div>

<div class="app-ace-editor" #editor></div>

<div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
    <button class="btn btn-lg btn-success btn-block" (click)="uploadCode();" [disabled]="disabled()">Send</button>
</div>
